@{
    ViewData["Title"] = "User List";
}

<h1>Login</h1>

<a class="btn btn-primary" asp-controller="Account" asp-action="LoginWithGoogle">Login with Google</a>

<ul>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li>
            <a>Hello @User.Identity.Name</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
</ul>
