@{
    ViewData["Title"] = "User List";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/loginForm.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <h1 class="page-title">Login</h1>

        <div class="login-container">
            <form asp-controller="Account" asp-action="LoginWithEmail" method="post" class="login-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="email" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

        <a class="btn btn-secondary" asp-controller="Account" asp-action="LoginWithGoogle">Login with Google</a>

        <ul class="user-actions">
            @if (Context.User.Identity.IsAuthenticated)
            {
                <li>
                    <a>Hello @User.Identity.Name</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            }
        </ul>
    </div>
</body>
</html>
