body {
}
.containerStolovi {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 60px auto;
    height: auto;
    width: 300px;
    justify-content: center;
    background-color: #f5f5f5;
}

.seat {
    background-color: #f8ab69;
    height: 30px;
    width: 54px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .seat:hover {
        background-color: #ffd800;
        transform: scale(1.1);
    }