

.searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    outline: none;
    margin-bottom: 36px;
    margin-bottom: 36px;
}

#resultsContainer {
    width: 100%; 
    max-width: 1600px; 
    margin: auto; 
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.item {
    width: 300px;
    border: 1px solid #ccc;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    cursor: pointer;
}

    .item:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }

    .item h2{
        font-size: 26px;
    }

    .item p {
        font-size: 18px;
        color: #333;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }
