@model List<StoniTenis.Models.Entities.Lokal>

<h2>Lokali</h2>
<button id="loadReservation">Load Reservation Data</button>
<input type="text" id="searchBar" placeholder="Search...">
<div id="resultsContainer"></div>

@* <ul>
    @foreach (var lokal in Model)
    {
        <li>@lokal.Adresa </li>
    }
</ul>
 *@