<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/reservationVremeKalendar.css" />
    <link rel="stylesheet" href="~/css/reservationVremeStolovi.css" />
</head>
<body>
    <h3>Odaberi Termin:</h3>
    <br />
    <div class="containerCalendar">
        <div class="left">
            <div class="calendar">
                <div class="month">
                    <i class="fas fa-angle-left prev"></i>
                    <div class="date">August 2024</div>
                    <i class="fas fa-angle-right next"></i>
                </div>
                <div class="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="days"></div>
            </div>
            <div class="all-reservations">
                <!-- All reservations will be dynamically populated here -->
            </div>
        </div>
    </div>
    <script type="module">
        import { setRadnoVremeData, setUserDetails } from "../js/ReservationVreme.js";

        setRadnoVremeData(@Html.Raw(Json.Serialize(ViewBag.RadnoVremeLokal)));
        const userName = @Html.Raw(Json.Serialize(User.Identity.Name));
        const userId = @Context.Session.GetInt32("KorisnikID");

        setUserDetails(userName, userId);
    </script>
    <script type="module" src="~/js/ReservationVreme.js" defer></script>
    <script src="~/js/ReservationVremeStolovi.js" defer></script>
</body>
</html>
