@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<!-- Add a button or link to initiate Google login -->
<a class="btn btn-primary" asp-controller="Home" asp-action="LoginWithGoogle">Login with Google</a>

<ul>
    @if (Context.User.Identity.IsAuthenticated)
    {
    <li>
        <a>Hello @User.Identity.Name</a>
    </li>
    <li>
        <a asp-controller="Home" asp-action="Logout">Logout</a>
    </li>
    }
</ul>